user: "root"
password: "password"
os: "RHEL7"
hosts:
  10.35.173.185:
    alias:
      - "mac848f69fbc4c3"
      - "mac848f69fbc4c3.example.com"
  10.35.173.184:
    alias:
      - "mac848f69fbc643"
      - "mac848f69fbc643.example.com"
  10.35.173.183:
    alias:
      - "macf04da2732fb1"
      - "macf04da2732fb1.example.com"
  10.35.173.181:
    alias:
      - mac848f69fbc493
      - "mac848f69fbc493.example.com"
  10.35.173.182:
    alias:
      - "mac848f69fbc49f.example.com"
      - mac848f69fbc49f

roles:
  ha_controller:
    - macf04da2732fb1
    - mac848f69fbc643
    - mac848f69fbc4c3
  compute:
    - mac848f69fbc49f
    - mac848f69fbc493


vip:
  10.35.173.150:
    alias:
    - ceilometer_admin_vip
  10.35.173.151:
    alias:
    - ceilometer_private_vip
  10.35.173.152:
    alias:
    - ceilometer_public_vip
  10.35.173.153:
    alias:
    - cinder_admin_vip
  10.35.173.154:
    alias:
    - cinder_private_vip
  10.35.173.155:
    alias:
    - cinder_public_vip
  10.35.173.156:
    alias:
    - db_vip
  10.35.173.157:
    alias:
    - glance_admin_vip
  10.35.173.158:
    alias:
    - glance_private_vip
  10.35.173.159:
    alias:
    - glance_public_vip
  10.35.173.160:
    alias:
    - heat_admin_vip
  10.35.173.161:
    alias:
    - heat_private_vip
  10.35.173.162:
    alias:
    - heat_public_vip
  10.35.173.163:
    alias:
    - heat_cfn_admin_vip
  10.35.173.164:
    alias:
    - heat_cfn_private_vip
  10.35.173.165:
    alias:
    - heat_cfn_public_vip
  10.35.173.166:
    alias:
    - horizon_admin_vip
  10.35.173.167:
    alias:
    - horizon_private_vip
  10.35.173.168:
    alias:
    - horizon_public_vip
  10.35.173.169:
    alias:
    - keystone_admin_vip
  10.35.173.170:
    alias:
    - keystone_private_vip
  10.35.173.171:
    alias:
    - keystone_public_vip
  10.35.173.172:
    alias:
    - loadbalancer_vip
  10.35.173.173:
    alias:
    - neutron_admin_vip
  10.35.173.174:
    alias:
    - neutron_private_vip
  10.35.173.175:
    alias:
    - neutron_public_vip
  10.35.173.176:
    alias:
    - nova_admin_vip
  10.35.173.177:
    alias:
    - nova_private_vip
  10.35.173.178:
    alias:
    - nova_public_vip
  10.35.173.179:
    alias:
    - amqp_vip
  10.35.173.180:
    alias:
    - swift_public_vip

